.letters-half {
  color: #ff0000;
}

.letters-full {
  color: #0000ff;
}

.punctuation-half,
.punctuation-full,
.quote-start-content,
.quote-end-content,
.wrapper-brackets {
  color: #660066;
}

.non-block,
.hyper-content,
.hyper-content-code {
  color: #666666;
}

.changed {
  background-color: #ffff00;
}

.ignored {
  background-color: #f0f0f0;
}

.current {
  background-color: #f0f0ff;
}